{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% load static %}
{% block content %}

<img src="../../static/images/hero_image.jpg" alt="NATC Motto">

    <div class="border border-gray-700 rounded shadow-lg mt-2">

      <div class="p-4 border-b border-gray-700 flex items-center justify-between">
        <h3 class=" font-bold text-lg">About US</h3>
        <div class="flex space-x-2">
          <div class="w-3 h-3 rounded-full bg-red-500"></div>
          <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
          <div class="w-3 h-3 rounded-full bg-green-500"></div>
        </div>
      </div>
     
        <div class="text-left p-4">
            <p class="text-xl">NATC, Brisbane is a recreational sporting club which is not-for-profit,
                non-religious,
                non-racial, non-political, non-judgemental, non-discriminatory. The club respects and protects individual’s
                belief, race, ethnicity,
                academic background and skill level at all times. Main objectives of the club are to: <br>
                ☞ Promote tennis in wider Nepalese community residing in Brisbane and all parts of Queensland <br>
                ☞ Promote friendship, social harmony and collaboration among members, other associations and clubs
                by organising recreational and sporting activities <br>
                ☞ Promote, motivate, inspire and provide platform for children within the community to pursue
                potential tennis career <br>
                ☞ Tie up, collaborate, cooperate and build good relationship with professional tennis clubs and
                associations in Australia and Nepal to accomplish any activities as proposed and decided by the club
    
            </p>
        </div>
    
    </div>




{% endblock content %}