{% extends 'base.html' %}
{% block title %} Events {% endblock %}
{% block content %}
<div class="text-center mx-auto text-xl md:text-2xl">
    {% if event %}
    <h2 class="text-3xl">Event details</h2>
    <p>Event Name: {{event.event_title}}</p>
    <p>Venue: {{event.venue}}</p>
    <p>Organiser: {{event.organiser}}</p>
    <p>Time: {{event.time}}</p>
    <p>Description: {{event.description}}</p>
    {% endif %}
    <a class="py-3 px-5 mt-5 inline-block font-roboto bg-blue-800 hover:bg-white text-white hover:text-blue-800 duration-500 rounded" href="{% url 'events' %}">Back to Events</a>
</div>
{% endblock content %}