{% extends 'base.html' %}

{% block content %}
{% block title %} Events {% endblock %}
{% if events %}
<h2 class="text-center md:text-left text-xl">Upcoming events</h2>
<div class="ml-20 md:ml-0 mt-2 md:grid grid-cols-3 gap-2 text-xl md:text-2xl">
{% for event in events %}
    <div class="p-2 md:p-0">
        <a class="text-blue-600" href="{% url 'event_details' event.id %}"><h4 class='text-3xl'>{{ event.event_title }}</h4></a>
        <p>Where: {{ event.venue }}</p>
        <p>Organiser: {{ event.organiser }}</p>
        <p>Date & Time: {{ event.time }}</p>
    </div>
{% endfor %}
</div>
{% else %}
<p>No events</p>
{% endif %}

{% endblock content %}